USE [DBTpLab]
GO
/****** Object:  User [Lucas24865_SQLLogin_1]    Script Date: 11/9/2022 3:16:23 PM ******/
CREATE USER [Lucas24865_SQLLogin_1] FOR LOGIN [Lucas24865_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Lucas24865_SQLLogin_1]
GO
/****** Object:  Schema [Lucas24865_SQLLogin_1]    Script Date: 11/9/2022 3:16:23 PM ******/
CREATE SCHEMA [Lucas24865_SQLLogin_1]
GO
/****** Object:  UserDefinedFunction [dbo].[f_nombreformaventa]    Script Date: 11/9/2022 3:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[f_nombreformaventa]
(@id_nombre int)
returns varchar (100)
as
begin
declare @nombreforma varchar(100)
set @nombreforma = (select descripcion from Formas_pago where id_forma_pago = @id_nombre)
return @nombreforma
end
GO
/****** Object:  UserDefinedFunction [dbo].[f_nombreMesespanol]    Script Date: 11/9/2022 3:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[f_nombreMesespanol]
(@fecha datetime)
 returns varchar(10)
 as
 begin
 declare @nombre varchar(10)
 set @nombre=
 case datename(month,@fecha)
 when 'January' then 'Enero'
 when 'February' then 'Febrero'
 when 'March' then 'Marzo'
 when 'April' then 'Abril'
 when 'May' then 'Mayo'
 when 'June' then 'Junio'
 when 'July' then 'Julio'
 when 'August' then 'Agosto'
 when 'September' then 'Setiembre'
 when 'October' then 'Octubre'
 when 'November' then 'Noviembre'
 when 'December' then 'Diciembre'
 end--case
 return @nombre
end;
GO
/****** Object:  UserDefinedFunction [dbo].[f_nombresala]    Script Date: 11/9/2022 3:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[f_nombresala]
(@idsala int)
 returns varchar(20)
 as
 begin
 declare @nombre varchar(10)
 set @nombre = (select descripcion from Salas where id_sala = @idsala)
 return @nombre
end;
GO
/****** Object:  UserDefinedFunction [dbo].[Yeia]    Script Date: 11/9/2022 3:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create function [dbo].[Yeia]()
 
 returns int
 begin 
 return 1
 end
GO
/****** Object:  Table [dbo].[Comprobantes]    Script Date: 11/9/2022 3:16:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobantes](
	[id_comprobante] [int] IDENTITY(1,1) NOT NULL,
	[id_forma_venta] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[nro_ticket] [int] IDENTITY(1,1) NOT NULL,
	[id_funcion] [int] NOT NULL,
	[id_butaca] [int] NOT NULL,
	[id_comprobante] [int] NOT NULL,
	[id_promo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[id_sala] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_sala] [int] NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Butacas]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butacas](
	[id_butaca] [int] IDENTITY(1,1) NOT NULL,
	[id_sala] [int] NOT NULL,
	[nro_butaca] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_butaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_cantidadentradathisyear]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[v_cantidadentradathisyear]
as
	select count(nro_ticket)'Tickets',dbo.f_nombresala(s.id_sala)'Sala' 
                                from tickets t 
                                join Comprobantes c on c.id_comprobante=t.id_comprobante 
                                join Butacas b on b.id_butaca = t.id_butaca 
                                join Salas s on s.id_sala = b.id_sala 
                                where DATEDIFF(year, year(fecha),year(getdate())) = 0 
                                group by dbo.f_nombresala(s.id_sala)
GO
/****** Object:  Table [dbo].[Funciones]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funciones](
	[id_funcion] [int] IDENTITY(1,1) NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[id_horario] [int] NOT NULL,
	[id_audio] [int] NOT NULL,
	[id_sala] [int] NOT NULL,
	[precio] [int] NOT NULL,
	[fecha] [date] NULL,
	[fecha_baja] [datetime] NULL,
	[baja] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_funcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promos]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promos](
	[id_promo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[porcentaje] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_promo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_facturadosalayearmes]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[v_facturadosalayearmes]
								as
								select sum(f.precio* p.porcentaje/100) 'Total Facturado',dbo.f_nombresala(s.id_sala)'Sala',month(f.fecha) 'Mes',year(f.fecha)'Año'
                                from tickets t
                                join Comprobantes c on c.id_comprobante=t.id_comprobante
                                    join promos p on p.id_promo = t.id_promo
                                join funciones f on f.id_funcion = t.id_funcion
                                join Salas s on s.id_sala = f.id_sala
                                group by dbo.f_nombresala(s.id_sala), month(f.fecha), year(f.fecha)
GO
/****** Object:  View [dbo].[Ticket_Precio]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Ticket_Precio] as
select t.nro_ticket,t.id_funcion,t.id_butaca,t.id_comprobante,t.id_promo,
f.precio*p.porcentaje/100 'Precio'
from tickets t
join Promos p on t.id_promo=p.id_promo
join Funciones f on t.id_funcion=f.id_funcion;
GO
/****** Object:  View [dbo].[Comprobante_Precio]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[Comprobante_Precio] 
as 
select c.id_comprobante 'NRO',c.Fecha,dbo.f_nombreformaventa(c.id_forma_venta)'Nombre',sum(f.precio*p.porcentaje/100) 
'Precio' 
from tickets t 
join Comprobantes c on t.id_comprobante=c.id_comprobante 
join Promos p on t.id_promo=p.id_promo 
join Funciones f on t.id_funcion=f.id_funcion 
group by c.id_comprobante,c.fecha,c.id_forma_venta
GO
/****** Object:  Table [dbo].[Audios]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audios](
	[id_audio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_audio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[id_calificacion] [int] IDENTITY(1,1) NOT NULL,
	[calificacion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_calificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprobantes_Formas_pago]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobantes_Formas_pago](
	[id_forma_pago] [int] NOT NULL,
	[id_comprobante] [int] NOT NULL,
	[importe] [int] NOT NULL,
 CONSTRAINT [pk_Comprobantes_Formas_pago] PRIMARY KEY CLUSTERED 
(
	[id_forma_pago] ASC,
	[id_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directores]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directores](
	[id_director] [int] IDENTITY(1,1) NOT NULL,
	[director] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_director] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distribuidoras]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distribuidoras](
	[id_distribuidora] [int] IDENTITY(1,1) NOT NULL,
	[distribuidora] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_distribuidora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formas_pago]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formas_pago](
	[id_forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formas_venta]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formas_venta](
	[id_forma_venta] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_forma_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[horario] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[titulo_local] [varchar](255) NOT NULL,
	[titulo_original] [varchar](255) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[id_pais] [int] NOT NULL,
	[id_calificacion] [int] NOT NULL,
	[fecha_estreno] [datetime] NOT NULL,
	[duracion_min] [int] NOT NULL,
	[id_distribuidora] [int] NOT NULL,
	[id_genero] [int] NULL,
	[id_director] [int] NULL,
	[fecha_baja] [datetime] NULL,
	[baja] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_salas]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_salas](
	[id_tipo_sala] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 11/9/2022 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](120) NULL,
	[contra] [varchar](120) NULL,
 CONSTRAINT [pk_usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Audios] ON 

INSERT [dbo].[Audios] ([id_audio], [descripcion]) VALUES (1, N'Doblaje')
INSERT [dbo].[Audios] ([id_audio], [descripcion]) VALUES (2, N'Subtitulado(Ingles)')
INSERT [dbo].[Audios] ([id_audio], [descripcion]) VALUES (3, N'Subtitulado(Coreano)')
SET IDENTITY_INSERT [dbo].[Audios] OFF
GO
SET IDENTITY_INSERT [dbo].[Butacas] ON 

INSERT [dbo].[Butacas] ([id_butaca], [id_sala], [nro_butaca]) VALUES (1, 1, 1)
INSERT [dbo].[Butacas] ([id_butaca], [id_sala], [nro_butaca]) VALUES (2, 1, 2)
INSERT [dbo].[Butacas] ([id_butaca], [id_sala], [nro_butaca]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Butacas] OFF
GO
SET IDENTITY_INSERT [dbo].[Calificaciones] ON 

INSERT [dbo].[Calificaciones] ([id_calificacion], [calificacion]) VALUES (1, N'ATP')
INSERT [dbo].[Calificaciones] ([id_calificacion], [calificacion]) VALUES (2, N'PG-13')
INSERT [dbo].[Calificaciones] ([id_calificacion], [calificacion]) VALUES (3, N'PG-16')
SET IDENTITY_INSERT [dbo].[Calificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Comprobantes] ON 

INSERT [dbo].[Comprobantes] ([id_comprobante], [id_forma_venta], [fecha]) VALUES (1, 1, CAST(N'2022-10-23T12:50:55.157' AS DateTime))
INSERT [dbo].[Comprobantes] ([id_comprobante], [id_forma_venta], [fecha]) VALUES (2, 2, CAST(N'2022-10-23T12:50:55.157' AS DateTime))
INSERT [dbo].[Comprobantes] ([id_comprobante], [id_forma_venta], [fecha]) VALUES (3, 1, CAST(N'2022-10-23T12:51:01.107' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Comprobantes] OFF
GO
INSERT [dbo].[Comprobantes_Formas_pago] ([id_forma_pago], [id_comprobante], [importe]) VALUES (1, 1, 300)
INSERT [dbo].[Comprobantes_Formas_pago] ([id_forma_pago], [id_comprobante], [importe]) VALUES (1, 510, 100)
INSERT [dbo].[Comprobantes_Formas_pago] ([id_forma_pago], [id_comprobante], [importe]) VALUES (1, 511, 100)
GO
SET IDENTITY_INSERT [dbo].[Directores] ON 

INSERT [dbo].[Directores] ([id_director], [director]) VALUES (1, N'Steven Spielberg')
INSERT [dbo].[Directores] ([id_director], [director]) VALUES (2, N'Quentin Tarantino')
INSERT [dbo].[Directores] ([id_director], [director]) VALUES (3, N'Martin Scorcese')
SET IDENTITY_INSERT [dbo].[Directores] OFF
GO
SET IDENTITY_INSERT [dbo].[Distribuidoras] ON 

INSERT [dbo].[Distribuidoras] ([id_distribuidora], [distribuidora]) VALUES (1, N'Warner Bros')
INSERT [dbo].[Distribuidoras] ([id_distribuidora], [distribuidora]) VALUES (2, N'Disney')
INSERT [dbo].[Distribuidoras] ([id_distribuidora], [distribuidora]) VALUES (3, N'DreamWorks')
SET IDENTITY_INSERT [dbo].[Distribuidoras] OFF
GO
SET IDENTITY_INSERT [dbo].[Formas_pago] ON 

INSERT [dbo].[Formas_pago] ([id_forma_pago], [descripcion]) VALUES (1, N'Efectivo')
INSERT [dbo].[Formas_pago] ([id_forma_pago], [descripcion]) VALUES (2, N'Transferencia')
INSERT [dbo].[Formas_pago] ([id_forma_pago], [descripcion]) VALUES (3, N'Credito')
SET IDENTITY_INSERT [dbo].[Formas_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Formas_venta] ON 

INSERT [dbo].[Formas_venta] ([id_forma_venta], [descripcion]) VALUES (1, N'Recepcion')
INSERT [dbo].[Formas_venta] ([id_forma_venta], [descripcion]) VALUES (2, N'Internet')
INSERT [dbo].[Formas_venta] ([id_forma_venta], [descripcion]) VALUES (3, N'Sorteo')
SET IDENTITY_INSERT [dbo].[Formas_venta] OFF
GO
SET IDENTITY_INSERT [dbo].[Funciones] ON 

INSERT [dbo].[Funciones] ([id_funcion], [id_pelicula], [id_horario], [id_audio], [id_sala], [precio], [fecha], [fecha_baja], [baja]) VALUES (1, 1, 2, 1, 1, 100, CAST(N'2022-10-23' AS Date), NULL, 0)
INSERT [dbo].[Funciones] ([id_funcion], [id_pelicula], [id_horario], [id_audio], [id_sala], [precio], [fecha], [fecha_baja], [baja]) VALUES (2, 2, 3, 2, 2, 100, CAST(N'2022-10-23' AS Date), CAST(N'2022-11-07T18:40:32.173' AS DateTime), 1)
INSERT [dbo].[Funciones] ([id_funcion], [id_pelicula], [id_horario], [id_audio], [id_sala], [precio], [fecha], [fecha_baja], [baja]) VALUES (3, 1, 2, 1, 3, 100, CAST(N'2022-10-23' AS Date), CAST(N'2022-11-07T20:20:42.600' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Funciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([id_genero], [genero]) VALUES (1, N'Accion')
INSERT [dbo].[Generos] ([id_genero], [genero]) VALUES (2, N'Aventura')
INSERT [dbo].[Generos] ([id_genero], [genero]) VALUES (3, N'Drama')
SET IDENTITY_INSERT [dbo].[Generos] OFF
GO
SET IDENTITY_INSERT [dbo].[Horarios] ON 

INSERT [dbo].[Horarios] ([id_horario], [horario]) VALUES (1, N'10:00')
INSERT [dbo].[Horarios] ([id_horario], [horario]) VALUES (2, N'10:30')
INSERT [dbo].[Horarios] ([id_horario], [horario]) VALUES (3, N'11:00')
SET IDENTITY_INSERT [dbo].[Horarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Paises] ON 

INSERT [dbo].[Paises] ([id_pais], [pais]) VALUES (1, N'Argentina')
INSERT [dbo].[Paises] ([id_pais], [pais]) VALUES (2, N'Estados Unidos')
INSERT [dbo].[Paises] ([id_pais], [pais]) VALUES (3, N'Alemania')
SET IDENTITY_INSERT [dbo].[Paises] OFF
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([id_pelicula], [titulo_local], [titulo_original], [descripcion], [id_pais], [id_calificacion], [fecha_estreno], [duracion_min], [id_distribuidora], [id_genero], [id_director], [fecha_baja], [baja]) VALUES (1, N'Toy Story', N'Toy Story', N'', 2, 1, CAST(N'1996-03-14T00:00:00.000' AS DateTime), 100, 2, 1, 1, NULL, 0)
INSERT [dbo].[Peliculas] ([id_pelicula], [titulo_local], [titulo_original], [descripcion], [id_pais], [id_calificacion], [fecha_estreno], [duracion_min], [id_distribuidora], [id_genero], [id_director], [fecha_baja], [baja]) VALUES (2, N'Shrek', N'Shrek', N'', 2, 1, CAST(N'2001-06-19T00:00:00.000' AS DateTime), 90, 3, 22, 22, NULL, 0)
INSERT [dbo].[Peliculas] ([id_pelicula], [titulo_local], [titulo_original], [descripcion], [id_pais], [id_calificacion], [fecha_estreno], [duracion_min], [id_distribuidora], [id_genero], [id_director], [fecha_baja], [baja]) VALUES (3, N'El viaje de Chihiro', N'Sen to Chihiro no Kamikakushi', N'-', 6, 2, CAST(N'2001-07-20T00:00:00.000' AS DateTime), 125, 5, 1, 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[Promos] ON 

INSERT [dbo].[Promos] ([id_promo], [descripcion], [porcentaje]) VALUES (1, N'General', 100)
INSERT [dbo].[Promos] ([id_promo], [descripcion], [porcentaje]) VALUES (2, N'Estudiante', 90)
INSERT [dbo].[Promos] ([id_promo], [descripcion], [porcentaje]) VALUES (3, N'Jubilado', 88)
SET IDENTITY_INSERT [dbo].[Promos] OFF
GO
SET IDENTITY_INSERT [dbo].[Salas] ON 

INSERT [dbo].[Salas] ([id_sala], [id_tipo_sala], [descripcion]) VALUES (1, 1, N'Sala común 1')
INSERT [dbo].[Salas] ([id_sala], [id_tipo_sala], [descripcion]) VALUES (2, 1, N'Sala común 2')
INSERT [dbo].[Salas] ([id_sala], [id_tipo_sala], [descripcion]) VALUES (3, 1, N'Sala común 3')
SET IDENTITY_INSERT [dbo].[Salas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([nro_ticket], [id_funcion], [id_butaca], [id_comprobante], [id_promo]) VALUES (23, 1, 17, 23, 1)
INSERT [dbo].[Tickets] ([nro_ticket], [id_funcion], [id_butaca], [id_comprobante], [id_promo]) VALUES (24, 1, 18, 23, 1)
INSERT [dbo].[Tickets] ([nro_ticket], [id_funcion], [id_butaca], [id_comprobante], [id_promo]) VALUES (25, 1, 14, 24, 1)
GO
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipos_salas] ON 

INSERT [dbo].[Tipos_salas] ([id_tipo_sala], [descripcion]) VALUES (1, N'Comun')
INSERT [dbo].[Tipos_salas] ([id_tipo_sala], [descripcion]) VALUES (2, N'3D')
INSERT [dbo].[Tipos_salas] ([id_tipo_sala], [descripcion]) VALUES (3, N'Imax')
SET IDENTITY_INSERT [dbo].[Tipos_salas] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([idUsuario], [usuario], [contra]) VALUES (1, N'cinelabadmin', N'admin123')
INSERT [dbo].[usuarios] ([idUsuario], [usuario], [contra]) VALUES (2, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[Butacas]  WITH CHECK ADD FOREIGN KEY([id_sala])
REFERENCES [dbo].[Salas] ([id_sala])
GO
ALTER TABLE [dbo].[Comprobantes]  WITH CHECK ADD FOREIGN KEY([id_forma_venta])
REFERENCES [dbo].[Formas_venta] ([id_forma_venta])
GO
ALTER TABLE [dbo].[Comprobantes_Formas_pago]  WITH CHECK ADD FOREIGN KEY([id_comprobante])
REFERENCES [dbo].[Comprobantes] ([id_comprobante])
GO
ALTER TABLE [dbo].[Comprobantes_Formas_pago]  WITH CHECK ADD FOREIGN KEY([id_forma_pago])
REFERENCES [dbo].[Formas_pago] ([id_forma_pago])
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD FOREIGN KEY([id_audio])
REFERENCES [dbo].[Audios] ([id_audio])
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD FOREIGN KEY([id_horario])
REFERENCES [dbo].[Horarios] ([id_horario])
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD FOREIGN KEY([id_sala])
REFERENCES [dbo].[Salas] ([id_sala])
GO
ALTER TABLE [dbo].[Peliculas]  WITH CHECK ADD FOREIGN KEY([id_calificacion])
REFERENCES [dbo].[Calificaciones] ([id_calificacion])
GO
ALTER TABLE [dbo].[Peliculas]  WITH CHECK ADD FOREIGN KEY([id_distribuidora])
REFERENCES [dbo].[Distribuidoras] ([id_distribuidora])
GO
ALTER TABLE [dbo].[Peliculas]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[Paises] ([id_pais])
GO
ALTER TABLE [dbo].[Salas]  WITH CHECK ADD FOREIGN KEY([id_tipo_sala])
REFERENCES [dbo].[Tipos_salas] ([id_tipo_sala])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([id_butaca])
REFERENCES [dbo].[Butacas] ([id_butaca])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([id_comprobante])
REFERENCES [dbo].[Comprobantes] ([id_comprobante])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([id_funcion])
REFERENCES [dbo].[Funciones] ([id_funcion])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([id_promo])
REFERENCES [dbo].[Promos] ([id_promo])
GO
/****** Object:  StoredProcedure [dbo].[CONSULTAR_FUNCION_PARAMETROS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CONSULTAR_FUNCION_PARAMETROS]
@id_pelicula int,

@fecha datetime
as
select id_funcion,titulo_local,horario,a.descripcion as 'audio',s.descripcion as 'sala',precio,fecha
from Funciones f join Horarios h on f.id_horario = h.id_horario
join Audios a on f.id_audio = a.id_audio
join Salas s on f.id_sala = s.id_sala
join Peliculas p on f.id_pelicula = p.id_pelicula

where f.id_pelicula = @id_pelicula and f.fecha = @fecha
GO
/****** Object:  StoredProcedure [dbo].[CONSULTAR_PELICULA]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CONSULTAR_PELICULA]
@id_pelicula int
as
select p.id_pelicula as 'id_pelicula',titulo_local as 'titulo_local',titulo_original as 'titulo_original',descripcion,p.id_pais,pais as 'nombre_pais',p.id_calificacion,calificacion,fecha_estreno,duracion_min,d.id_distribuidora,distribuidora,p.id_genero,genero,di.id_director,director
from Peliculas p join Paises pa on p.id_pais = pa.id_pais
join calificaciones c on p.id_calificacion = c.id_calificacion
join distribuidoras d on p.id_distribuidora = d.id_distribuidora
join generos g on p.id_genero = g.id_genero
join directores di on p.id_director = di.id_director
where p.id_pelicula = @id_pelicula
and p.baja = 0
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_FUNCION]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_AGREGAR_FUNCION]

@id_pelicula int,
@id_horario int,
@id_audio int,
@id_sala int,
@precio int,
@fecha datetime

as
begin
insert into funciones values(@id_pelicula,@id_horario,@id_audio,@id_sala,@precio,@fecha,null,0)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BAJA_PELICULAS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE proc [dbo].[SP_BAJA_PELICULAS]  
@id int,  
@baja int
as  
 update Peliculas  
 set  baja = @baja, fecha_baja = GETDATE()
 where  id_pelicula = @id
GO
/****** Object:  StoredProcedure [dbo].[SP_CargarPeliculas]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CargarPeliculas] 
@titulo_local varchar(400),
@titulo_original varchar(400),
@descripcion varchar(400),
@id_pais int,
@id_clasificacion int,
@fecha_estreno datetime,
@duracion_min int,
@id_distibuidora int,
@id_genero int,
@id_directores int
as
 begin 
	INSERT into Peliculas values (@titulo_local, @titulo_original, @descripcion,
@id_pais,
@id_clasificacion,
@fecha_estreno,
@duracion_min,
@id_distibuidora,
@id_genero,
@id_directores,
null,
0)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Clasificacion]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SP_Clasificacion]
AS
 select * from calificaciones
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_PELICULAS_FILTRADAS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE proc [dbo].[SP_CONSULTA_PELICULAS_FILTRADAS]
 @titulo varchar(400)
as  
begin
		
 select id_pelicula as 'ID', titulo_local 'Titulo',duracion_min 'Duracion',fecha_estreno 'Fecha de Estreno',
 p.id_pais, pais,p.id_director, director,p.id_distribuidora, distribuidora,p.id_calificacion, 
 calificacion ,p.id_genero, genero, baja, fecha_baja  

 from Peliculas p join Calificaciones c on p.id_calificacion = c.id_calificacion  
 join generos g on p.id_genero = g.id_genero  
 join Paises pa on p.id_pais = pa.id_pais  
 join distribuidoras d on p.id_distribuidora = d.id_distribuidora  
 join directores di on p.id_director = di.id_director
 
 Where  titulo_local like  @titulo + '%'
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_PELICULAS_TODO]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTA_PELICULAS_TODO]
as
	select id_pelicula as 'ID', titulo_local 'Titulo',duracion_min 'Duracion',fecha_estreno 'Fecha de Estreno',p.id_pais, pais,p.id_director, director,p.id_distribuidora, distribuidora,p.id_calificacion, calificacion 'Calificacion',p.id_genero,genero 'Genero', baja, fecha_baja
	from Peliculas p join Calificaciones c on p.id_calificacion = c.id_calificacion
	join generos g on p.id_genero = g.id_genero
	join Paises pa on p.id_pais = pa.id_pais
	join distribuidoras d on p.id_distribuidora = d.id_distribuidora
	join directores di on p.id_director = di.id_director
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_AUDIOS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_AUDIOS]
AS
BEGIN
SELECT * FROM audios
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CONSULTAR_FUNCION]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_CONSULTAR_FUNCION]
                                @id_funcion int
                                AS
                                BEGIN
                                select b.id_butaca,b.nro_butaca, b.id_sala,f.id_funcion,t.nro_ticket,t.id_butaca
                                from Butacas b
                                join Funciones f on f.id_sala=b.id_sala
                                left join tickets t on b.id_butaca=t.id_butaca and t.id_funcion=f.id_funcion
                                where f.id_funcion=@id_funcion
                                order by 2
                                END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FUNCIONES]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_CONSULTAR_FUNCIONES]
AS
SELECT TOP 500 id_funcion, peliculas.titulo_local as'nombre_pelicula', horarios.horario as 'horario',audios.descripcion as 'audio',
salas.descripcion as 'sala',funciones.precio,funciones.fecha,funciones.fecha_baja,funciones.baja
from funciones
join peliculas on funciones.id_pelicula = peliculas.id_pelicula
join horarios on funciones.id_horario = horarios.id_horario
join audios on funciones.id_audio = audios.id_audio
join salas on funciones.id_sala = salas.id_sala
where funciones.baja = 0
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FUNCIONES_FECHA]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[SP_CONSULTAR_FUNCIONES_FECHA]  
  @fecha datetime
  AS  
  SELECT id_funcion,f.id_pelicula, peliculas.titulo_local as'nombre_pelicula', f.id_horario,
  horarios.horario as 'horario',f.id_audio,audios.descripcion as 'audio',f.id_sala,
  salas.descripcion as 'sala',
  f.precio,f.fecha,
  f.fecha_baja,f.baja  
  from funciones f join peliculas on f.id_pelicula = peliculas.id_pelicula  
  join horarios on f.id_horario = horarios.id_horario  
  join audios on f.id_audio = audios.id_audio  
  join salas on f.id_sala = salas.id_sala
  where f.fecha=@fecha
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_HORARIOS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_CONSULTAR_HORARIOS]
AS
BEGIN
SELECT * FROM horarios
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_PELICULAS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_PELICULAS]
as
select * From peliculas
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_SALAS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_SALAS]
AS
BEGIN
SELECT * FROM salas
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_USUARIO]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CONSULTAR_USUARIO]
@nombre varchar(120),
@contra varchar(120)
as
	select * from usuarios
	where usuario = @nombre and contra = @contra
GO
/****** Object:  StoredProcedure [dbo].[sp_consultarimportes]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_consultarimportes]
@fechainicio datetime,
@fechafin datetime,
@nombreforma varchar(50)
as
select * from comprobante_precio
where Fecha between @fechainicio and @fechafin
GO
/****** Object:  StoredProcedure [dbo].[SP_CREAR_FUNCION]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CREAR_FUNCION]
@id_pelicula int,
@id_horario int,
@id_audio int,
@id_sala int,
@precio int,
@fecha datetime

as

insert into Funciones(id_pelicula,id_horario,id_audio,id_sala,precio,fecha,baja) values(@id_pelicula,@id_horario,@id_audio,@id_sala,@precio,@fecha,0)
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_FUNCION]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DELETE_FUNCION]
@id_funcion int
as
UPDATE Funciones set baja = 1,fecha_baja = GETDATE() where id_funcion = @id_funcion
GO
/****** Object:  StoredProcedure [dbo].[SP_Directores]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SP_Directores]
as
	select * from Directores
GO
/****** Object:  StoredProcedure [dbo].[SP_Distribuidora]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_Distribuidora]
as
	select * FROM distribuidoras
GO
/****** Object:  StoredProcedure [dbo].[SP_FORMAS_PAGO]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_FORMAS_PAGO]
as
select * from formas_pago
GO
/****** Object:  StoredProcedure [dbo].[SP_FORMAS_VENTA]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_FORMAS_VENTA]
as
select * from formas_venta
GO
/****** Object:  StoredProcedure [dbo].[SP_Genero]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SP_Genero]
as
	select * from Generos

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CFPAGO]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_INSERTAR_CFPAGO]
@id_formaPago int,
@id_comprobante int,
@importe int
as
	insert into Comprobantes_Formas_pago values (@id_formaPago,@id_comprobante,@importe)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_COMPROBANTE]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTAR_COMPROBANTE]
                                 @id_forma_venta int,
                                 @id_comprobante int output
                                 AS
                                 BEGIN
                                 INSERT INTO Comprobantes (id_forma_venta, fecha)
                                 values (@id_forma_venta, GETDATE())
                                 SET @id_comprobante = SCOPE_IDENTITY();
                                 END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_PAGOS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTAR_PAGOS]
                                 @id_forma_pago int,
                                 @id_comprobante int,
                                 @importe int
                                 AS
                                 BEGIN
                                 INSERT INTO Comprobantes_Formas_pago (id_forma_pago, id_comprobante,importe)
                                 values (@id_forma_pago,@id_comprobante,@importe)
                                 END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_TICKETS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTAR_TICKETS]
@id_funcion int,
@id_butaca int,
@id_comprobante int,
@id_promo int,
@nro_ticket int output
AS
BEGIN
INSERT INTO Tickets (id_funcion,id_butaca,id_comprobante,id_promo)
values (@id_funcion,@id_butaca,@id_comprobante,@id_promo)
SET @nro_ticket = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MontosTotalesComprobantes]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[SP_MontosTotalesComprobantes]  
 @fechainicio datetime,  
 @fechafin datetime  
 as  
 select nombre 'Forma_Pago' ,Count(Nro) 'Cantidad_Comprobantes', sum(Precio) 'Importes'   
 from comprobante_precio  
 where fecha between @fechainicio and @fechafin  
 group by Nombre
GO
/****** Object:  StoredProcedure [dbo].[SP_Pais]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_Pais]
as 
	SELECT * from Paises

GO
/****** Object:  StoredProcedure [dbo].[SP_PROMOS]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_PROMOS]
as
select * from promos
GO
/****** Object:  StoredProcedure [dbo].[sp_update_peliculas]    Script Date: 11/9/2022 3:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_update_peliculas]
@idPel int,
@titulo_local varchar (200),
@descripcion varchar(400),
@id_pais int,
@id_calificacion int,
@fecha_est datetime,
@duracion int,
@id_dist int,
@id_genero int,
@id_director int
as
update Peliculas set 
titulo_local = @titulo_local,
descripcion= @descripcion,
id_pais = @id_pais,
id_calificacion = @id_calificacion,
id_genero = @id_genero,
id_distribuidora = @id_dist,
id_director = @id_director,
duracion_min = @duracion
where @idPel = id_pelicula
GO
